.request-form ul li {
  list-style: none;
}
#name {
  margin-bottom: 15px;
  width: 400px;
  height: 25px;
}

#dropoff {
  margin-bottom: 15px;
  width: 400px;
  height: 25px;
}
#property {
  margin-bottom: 15px;
  width: 400px;
  height: 25px;
}
#size {
  margin-bottom: 15px;
  width: 400px;
  height: 25px;
}

#date {
  margin-bottom: 15px;
  width: 400px;
  height: 25px;
}
.request-form button {
  margin-left: 130px;
}
.request-form {
  margin-left: 150px;
  background-color: #c4c4c4;
  width: 500px;
  height: 500px;
  margin-top: 80px;
  padding-top: 50px;
  display: inline-block;
  margin-left: 500px;
}

.request1 {
  border-radius: 30px;
  height: 50px;
  width: 200px;
  background-color: #a0351d;
  color: white;
  border: none;
}
.request1 a {
  text-decoration: none;
  color: white;
}
