button {
  border-radius: 30px;
  height: 50px;
  width: 200px;
  background-color: #a0351d;
  color: white;
  /* -webkit-transition-duration: 0.3s; */
  border: none;
}
.move {
  display: flex;
  float: right;
}

.heading2 {
  font-size: 40px;
  margin-bottom: 30px;
  padding-left: 200px;
}

.btn {
  padding-left: 200px;
  width: 40%;
  display: flex;
  justify-content: space-between;
}
.btn a {
  text-decoration: none;
  color: white;
}

.btn:first-child {
  margin-right: 100px;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.request {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  margin-right: 30px;
}

.destination {
  padding-left: 450px;
  padding-top: 30px;
  font-size: 0px;
}
.destination p:first-child {
  padding-bottom: 50px;
}

.destination span {
  margin-right: 10px;
}

.destination p a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

.request-form ul li {
  list-style: none;
}
#name {
  margin-bottom: 15px;
  width: 400px;
  height: 25px;
}
#pickup {
  margin-bottom: 15px;
  width: 400px;
  height: 25px;
}
#dropoff {
  margin-bottom: 15px;
  width: 400px;
  height: 25px;
}
#property {
  margin-bottom: 15px;
  width: 400px;
  height: 25px;
}
#size {
  margin-bottom: 15px;
  width: 400px;
  height: 25px;
}
#stories {
  margin-bottom: 15px;
  width: 400px;
  height: 25px;
}
#date {
  margin-bottom: 15px;
  width: 400px;
  height: 25px;
}
.request-form button {
  margin-left: 130px;
}
.request-form {
  margin-left: 150px;
}
